:root {
  --blue-lightest: rgb(246, 248, 251);
  --blue-lighter: rgb(223, 239, 250);
  --blue-light: rgb(144, 202, 249);
  --blue: rgb(24, 67, 101);
  --blue-dark: rgb(17, 44, 67);
  --blue-darker: rgb(12, 31, 47);
  --blue-darkest: rgb(7, 19, 28);
  --blue-focus: var(--blue-darker);
  --red: rgb(238, 0, 0);
  --orange: #ff8a00;
  --grey-lightest: #fafafa;
  --grey-lighter: #eaeaea;
  --grey-light: #999;
  --grey: #888;
  --border-color: var(--grey-lighter);
  --radius: 10px;
  --white: #ffffff;
  --box-shadow-large: rgb(0 0 0 / 30%) 0px 2px 10px -1px;
  --box-shadow: rgb(0 0 0 / 30%) 0px 3px 5px -1px;
  --pirmary: var(--blue-darkest);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--blue-darkest);
}
body {
  margin: 1rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.label-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  color: var(--pirmary);
}

.input {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: var(--radius);
  border: 2px solid var(--grey-lighter);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input::placeholder {
  color: var(--grey-light);
}

.input:focus {
  border-color: var(--blue-darkest);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0px;
  border: none;
  margin: 0px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 16px;
  border-radius: var(--radius);
  position: relative;
  transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out,
    border-color 250ms ease-in-out, color 250ms ease-in-out;
  color: white;
  background-color: var(--blue-darkest);
  box-shadow: var(--box-shadow);
  font-size: 0.85rem;
}

.button:disabled {
  background-color: var(--grey);
}

.button:hover {
  background-color: var(--blue);
  box-shadow: var(--box-shadow-large);
}

.button:focus::after {
  opacity: 1;
}

.button::after {
  position: absolute;
  inset: -2px;
  box-shadow: 0px 0 0 2px var(--blue-focus);
  border-radius: var(--radius);
  content: "";
  opacity: 0;
  transition: opacity ease 500ms;
}

a {
  text-decoration: none;
  transition: color 0.25s;
  color: var(--blue-darkest);
}

a:hover :not(.button),
a:focus :not(.button) {
  color: var(--orange);
}
